.polygon-container:has(.icon-fill:hover) .polygon{
    fill-opacity: 0.5 !important;
}

.polygon-container:has(.icon-erase:hover) .polygon{
    fill-opacity: 1 !important;
    fill:#000000;
}

.polygon {
    z-index: 3;

    /* opacity:0.75; */
}

.polygon:hover {
    fill-opacity: 0.5 !important;

    /* stroke-width: 2; */
    fill:#FFFFFF20;
}

.polygon.selected:hover {
    stroke-width: 2;
    fill-opacity: 0.5 !important;
    fill:#FFFFFF40;
}

.polygon.selected {
    fill-opacity: 0.5 !important;
    fill:#FFFFFF20;

}

.polygon-vertex {
    pointer-events: all;
}

.polygon-vertex:hover {
        /* cursor: crosshair !important ; */

    /* fill:#FFFFFF; */
    stroke: #FFFFFF;
    stroke-width: 6px;
    /* outline: 1px solid #FFFFFF;
    outline-offset: 2px; */
}

.polygon-corner-handle:hover {
        fill:#FFFFFF;

}

.polygon-controls {
    display:flex;
    flex-direction: row;
    position:relative; 
    pointer-events: auto;
    white-space: nowrap;
    height:20px;
    padding:4px;
    gap:2px;
}
/* .polygon-controls * {
    margin-right:16px;
} */

#polygon-overlay {
    cursor: crosshair;
}

.polygon-edge-length {
    pointer-events:none;
    user-select: none;
    /* font-weight:bolder; */
    text-shadow: 1px 1px #000000, -1px 1px #000000, -1px -1px #000000, 1px -1px #000000; 
    
}

/* 
.polygon-bbox { 
    transform-box:fill-box !important;
    transform: scale(1.1) !important;
    transform-origin: center !important;
} */