.layer-popover-container {
    outline: 1px solid #7F7F7F;
    background-color: #000000;
    z-index: 10;
}

/* Triangle arrow pointing up at the parent */
.layer-popover-container::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #7F7F7F;
}

.layer-controls {
    display: flex;
    flex-direction: column;
    padding:4px;
    gap:8px;
}

.layer-controls-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:8px;
}




#toolbar {
    display: flex;
    position: fixed;
    top: 0px;
    z-index: 3 !important;
    background-color: #000000C0;
    border: none;
    /* border-bottom: 1px solid #FFFFFF80; */
    width: 100%;
    height:var(--toolbar-height);
    font-size: 12px !important;
    backdrop-filter: blur(8px);

}



#toolbar-left {
    display: flex;
    margin-left: 8px;
    border: none;
    align-items: center;
}

#toolbar-right {
    display: flex;
    margin-left: auto;
    right: 0px;
    top: 0px;
    border: none;
    align-items: center;
    justify-content: right;
    height:var(--toolbar-height);
}

#toolbar-layers {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap:2px;
}

#toolbar-layers button {
    display: flex !important;
    margin: 0px 5px;
    padding: 0px 10px !important;
    justify-content: center !important;
    align-items: center;
    height: 100%;
}

.toolbar-button {
    display: flex;
    height:var(--toolbar-height);
}

.toolbar-button img {
    align-self: stretch;
    width: 1.25em;
    object-fit: contain;
}


.layer-icon {
    margin: 0 2px;
    cursor: pointer;
    object-fit: cover;
    height: 24px;
    outline: 1px solid #323232;
    outline-offset: 1px;
}

.layer-icon.active {
    outline-color: #FFFFFF;
}

.layer-icon:not(.active):hover {
    outline-color: #FFFFFF7F;
}

#no-layers-tip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 8px;
    opacity: 0.25;
}

#no-layers-tip img {
    height:var(--toolbar-height);
    width: 32px;
    aspect-ratio: 1/1;
    filter: invert(1);
}

#toolbar-note {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow-x: hidden;
}

#toolbar:hover {
    opacity: 1;
}

