
.window {
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px, rgba(0, 0, 0, 0.16) 0px 2px 5px;
    background-color: #000000 !important;
    outline: 1px solid #242424 !important;
    outline-offset: -1px;
    user-select: none;  /* This will prevent text selection */ 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 

    pointer-events: all;
    /* min-width: max-content; */
    min-height: max-content;
}

.window:hover::after {
    content: '';
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    position:absolute;
    z-index: 0;
    pointer-events: none !important;
    outline: 1px solid #FFFFFF;
    outline-offset: 2px;
} 

/* immediate child of window should adopt EXACT width and height of window */
.window > .window-content {
    position: relative;
    /* width:100%;
    height:100%; */
    /* object-fit: contain;  only works on images */
    box-sizing: border-box;
    position:relative;
    outline: unset;

    /* padding:4px; */
    
    /* padding-bottom: 2px; */
}


.window.preview {
    pointer-events: none;
}

.window > option {
    padding: 1px 4px;
}

.window option:hover {
    background-color: #ddddddcc !important;
}

/*********************************** MAPP POINT WINDOW RESIZE HANDLES ***********************************/

.window-controls {
    position: relative;
    display:flex;
    flex-direction: row;
    height:20px !important;
    top:0px;
    left:0px;
    font-weight: bolder;
    width:100%;
    outline: 1px solid #242424;
    outline-offset: -1px;
}
.window-controls > * {
    position: relative;
    height:20px;
}

.window-controls > *:hover::after {
    content: '';
    left:0px !important;
    right:0px !important;
    top:0px !important;
    bottom:0px !important;
    /* width:inherit;
    height:inherit; */
    
    position:absolute !important;
    background-color: #FFFFFF20 !important;
    pointer-events: none !important;
    z-index: 2;
}


.window-controls > *:not(:last-child) {
    box-shadow: 0.5px 0 0 0 #242424, -0.5px 0 0 0 #242424 inset;
}

.window-handle {
    position:relative;
    display:flex;
    flex-direction: row;
    cursor:grab !important;
    gap:2px;
    flex:1;
}

.window-handle:active {
    cursor:grabbing !important;
    z-index: 4; /*prevents grabbing any other window/element*/
}



.window-title {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:0px 4px;
    padding-right: 8px;
    text-wrap:nowrap;
    overflow-x:auto;
    flex:1;
    gap:8px;
    font-weight: bolder;
    pointer-events: none;
}