@font-face {                                                                                                                       
    font-family: 'Geist Mono';                                                                                                     
    src: url('./fonts/GeistMono.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('./fonts/GeistMono-Italic.woff2') format('woff2');                                                                     
    font-weight: 100 900;                                                                                                          
    font-style: italic;                                                                                                            
}                                                                                                                                  
           

* {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
    font-size: 12px;
    font-family: "IBM Plex Mono";
    --toolbar-height: 32px;
    letter-spacing: -0.5px;

}

body {
    margin: 0px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}

[contenteditable] {
    cursor: text;
}

::-webkit-scrollbar {
    width: 8px;
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #666666;
    border: 1px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFFFFF;
    border: 1px solid transparent;
    background-clip: padding-box;
}

button, select {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    opacity: 0.5;
}

button > img {
    filter: invert(1);
}

button:hover, select:hover {
    opacity: 1;
}

.app-name * {
    font-size: 16px;
    padding:0px 8px;
    opacity:1;
    font-family: 'Geist Mono' !important;
}




.mosaic-canvas {
    position: absolute;
    top:0px;
    margin-top:var(--toolbar-height);
    left: 0;
    right: 0;
    width: 100%;
    bottom:0px;
    image-rendering: pixelated;
    cursor: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    /* outline: 1px solid #FFFFFF;
    outline-offset: -1px; */
}


#svg-canvas {
    position: fixed;
    top: 0px;
    bottom:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
    /* outline: 1px solid red; */
}


#draw-canvas {
    z-index: 2 !important;
    opacity: 0.5;
}



#foreground {
    z-index: 4;
    position: absolute;
    width:100%;
    height:100%;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    pointer-events: none;
}

#cursor {
    z-index: 5;
    position: absolute;
    width: 0px;
    height: 0px;
    display: none;
    pointer-events: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #FF0000;
    border-radius: 50%;
    /* outline: 1px solid white;
    outline-offset: -6px; */
}

#cursor-text {
    display: none;
    position: absolute;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white !important;
    /* color:black !important; */
    /* text-shadow: 1px 1px #000000, -1px 1px #000000, -1px -1px #000000, 1px -1px #000000; */
    text-shadow: 0.5px 0.5px #000000, -0.5px 0.5px #000000, -0.5px -0.5px #000000, 0.5px -0.5px #000000;

    /* text-shadow: 1px 1px #000000, -1px 1px #000000, -1px -1px #000000, 1px -1px #000000; */
    /* text-shadow: 1px 1px #FFFFFF, -1px 1px #FFFFFF, -1px -1px #FFFFFF, 1px -1px #FFFFFF; */
    /* text-shadow: 0.5px 0.5px #FFFFFF, -0.5px 0.5px #FFFFFF, -0.5px -0.5px #FFFFFF, 0.5px -0.5px #FFFFFF; */
    /* text-shadow: 0.5px 0.5px #FFFFFF, -0.5px 0.5px #FFFFFF, -0.5px -0.5px #FFFFFF, 0.5px -0.5px #FFFFFF,  1px 1px #000000, -1px 1px #000000, -1px -1px #000000, 1px -1px #000000; */

    /* mix-blend-mode: exclusion; */

}

#cursor-text::after {
    display:none;
    content: '';
    z-index: 4;
    position: absolute;
    width:100%;
    height:100%;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    pointer-events: none;
    /* background-color: #FF0000; */
    /* color:red;
    font-size: 14px !important; */
}



.selected-tool {
    background-color: #4CAF50;
    /* outline:1px solid #FFFFFF;
    outline-offset: 1px; */
}

/* .toolbar-list {
    font-family: Arial;
    width: inherit;
} */

.search-box {
    min-width: 70px;
}

.label-search {
    border:none;
    outline: 1px solid #FFFFFF40;
    outline-offset:  -1px;
    padding:0px 8px;
}

.label-search::placeholder {
    font-style: italic;
}

.label-search:focus-within {
    outline-color: white;
}


.loadout-label {
    position:relative;
    display: flex;
    /* color: #FFFFFF !important; */
    color: var(--accent-color, currentColour) !important;
    
    /* border-radius: 10px; */
    /* margin: 3px; */
    cursor: pointer;
    user-select: none;
    /* padding: 4px 8px; */
    width: min-content;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    float: right;
    order: 3;
    height:24px;
    outline-offset: -2px;
    padding: 0px 8px;
    gap:2px;
    z-index: 1;
     filter:brightness(0.75); 
    /* text-shadow: 1px 1px #00000040, -1px 1px #00000040, -1px -1px #00000040, 1px -1px #00000040; */
    font-weight: normal;

}

.loadout-label *{
    /* letter-spacing: 0px !important; */
        /* font-size: 13px; */

}


.loadout-label:hover {
            color: #FFFFFF !important;
    font-weight: bolder;

    /* color: var(--accent-color, currentColour) !important; */
    outline: 2px solid var(--outline-color, currentColour);
    filter:unset;
    text-shadow: 1px 1px #000000C0, -1px 1px #000000C0, -1px -1px #000000C0, 1px -1px #000000C0;

}

.loadout-label.used {
    order: 2;
}

.loadout-label.active {
    order: 2;
    z-index: 2;
    font-weight: bolder;
        color: #FFFFFF !important;

    /* color: var(--accent-color, currentColour) !important; */
    outline: 2px solid var(--outline-color, currentColour);
        filter:unset;
    text-shadow: 1px 1px #000000C0, -1px 1px #000000C0, -1px -1px #000000C0, 1px -1px #000000C0;

}


.loadout-label.selected {
    height:32px;
            color: #FFFFFF !important;

    font-weight: bolder;
        filter:unset;
    text-shadow: 1px 1px #000000C0, -1px 1px #000000C0, -1px -1px #000000C0, 1px -1px #000000C0;


}

.loadout-label.anchored {
    order: 1;
    z-index: 3;
    font-weight: bolder;
            color: #FFFFFF !important;

    outline: 2px solid var(--outline-color, currentColour);
        filter:unset;
    text-shadow: 1px 1px #000000C0, -1px 1px #000000C0, -1px -1px #000000C0, 1px -1px #000000C0;


}

.loadout-label-anchor {
    align-self: stretch;
    object-fit: contain;
    outline: unset !important;
    opacity: 0.125;
    padding-right:0px !important;
    right:-2px;
}

.loadout-label-anchor * {
    opacity: 1 !important;
}


.loadout-label-anchor:hover {
    opacity: 1 !important;
    /* background-color: var(--icon-color, currentColour); */

}

.loadout-label-anchor.active {
    opacity: 1 !important;
    /* background-color: var(--icon-color, currentColour); */

}

.hidden {
    display: none !important;
}

div[placeholder]:empty:before {
    content: attr(placeholder);
    color: #FFFFFF;
    opacity: 0.75;
}

span[placeholder]:empty:before {
    content: attr(placeholder);
    color: #FFFFFF;
    opacity: 0.75;
}

.b1 {
    padding:0px 2px !important;
    /* font-weight: bolder; */
    color: #FFFFFF !important;
}