* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
    font-size:13px; 
    font-family: "Arial";
}

body {
    margin:0px;
    text-align: center;
}

[contenteditable] {
    cursor: text;
}

button, select, .table-control {
    font-family: "Hanken Grotesk", "Arial";
    background-color: #FFFFFF;
    border: none;
    color: #323232;
    cursor:pointer;
    outline: none;
}

button:hover, select:hover {
    background-color: #DDDDDD;
}

#toolbar {
    display: flex;
    position: fixed;
    top:0px;
    z-index: 3 !important;
    background-color: #FFFFFF;
    opacity: 0.5;
    border:none;
    border-bottom: 1px solid #DDDDDD;
    -webkit-app-region: drag; /*allows dragging the electron app window around */
    width:100%;
}

#toolbar-paths {
    display: flex;
    margin-left:75px;
    border:none;
    align-items:center;
}

#toolbar-right {
    display: flex;
    margin-left: auto;
    right:0px;
    top:0px;
    border:none;
    align-items:center;
    justify-content: right;
}

#toolbar-file {
    display: flex;
    margin-left: auto;   
    margin-right: auto;
    align-items:center;
    justify-content:center;
    white-space: nowrap;
    overflow-x: hidden;
}


#toolbar-file button {
    display:flex !important;
    margin: 0px 5px;
    padding:0px 10px !important;
    justify-content: center !important;
    align-items: center;
    height:100%;
}



#toolbar-number {
    display: flex;
    margin-left: auto;   
    margin-right: auto;
    align-items:center;
    justify-content: right;
}
#toolbar:hover {
    opacity: 1;
}


#toolbar:hover #cursor {
    display:none;
    opacity:0;
}


#upload-input {
    padding-top:5px;
}

#toolbar button {
    -webkit-app-region: no-drag;
    padding:5px;
}


#toolbar .colour-class {
    display:flex;
    cursor:pointer;
    margin:5px;
    border-radius: 10px;
    height:20px;
    justify-content: center;
    align-items:center;
    color: #FFFFFF;
}

#toolbar select {
    vertical-align:top;
    width:120px;
    font-weight: bold;
    text-align: left;
    margin-right:5px !important;
    padding:0px!important;
    margin:0px;
    height:30px !important;
    -webkit-app-region: no-drag;
}

#cursor-size-slider {
    cursor: none;
    -webkit-appearance: none;
    -webkit-app-region: no-drag;
}

#cursor-size-slider::-webkit-slider-runnable-track {
    border-radius: 20px;
    border: solid 1px #000000; 
}

#cursor-size-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    border-radius: 50%;
    background: var(--color, red);
}


#download-button {
    font-weight: bold;
    margin-left:5px;
    margin-right:10px;
    cursor: pointer;
}

.mosaic-canvas {
    position:absolute; 
    margin-top: 30px;
    left: 0;
    right: 0; 

    /* adjust for zoom mode */
    width:100%;
    /* * * * */
    
    /*margin:auto;*/
    image-rendering: pixelated; 
    /*border: 1px #000000 solid;*/
    cursor:none;
}

.mosaic-canvas:hover #cursor {
    display: block; /* show the cursor element when the mouse is over the canvas */
}

#draw-canvas {
    z-index: 2 !important;
    opacity:0.5;
}

#save-canvas {
    z-index: 1 !important;
    opacity: 0.5;
    display: none; 
}

#image-canvas {
    z-index: 0 !important;
}


#cursor {
    z-index: 5;
    position:absolute;
    width: 0px;
    height: 0px;
    display: hidden; /* hide the cursor element by default */
    pointer-events: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #FF0000;
    border-radius: 50%;
}

.active-label-text {
    left:0px;
}

.slider {
   /*accent-color: #000000;*/
}

.parameter-button {
    display:flex;
}
.parameter-button span {
    line-height: 20px;
}

.selected-tool {
    background-color: #4CAF50;
}

.path {
    max-width:150px;
    overflow-x: scroll;
    white-space: nowrap;
}

.path::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.path {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#coords {
    padding-right: 5px;
}
/*------------------------------------------------------ SELECTOR FUNCTIONALITY ------------------------------------------------------*/

/*the container must be positioned relative:*/
.toolbar-list {
    font-family: Arial;
    width:inherit;
    -webkit-app-region: no-drag;
}   

/*style the items (options), including the selected item:*/
.selectable {
    color: #161616;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    border-radius: 10px;
    margin:3px;
    cursor: pointer;
    user-select: none;
    padding-left:5px;
    padding-right:5px;
    padding-top:3px;
    padding-bottom:3px;
    width: min-content;
    white-space: nowrap;
    float: right;
}

.search-box {
    min-width: 70px;
}

.selectable:hover {
    -webkit-filter: brightness(80%);
}

/*style items (options):*/
.items {
    position: absolute;
    top: 100%;
    /*left: 100%;*/
    right: 0;
    z-index: 4;
    width: 50%;
}

/*hide the items when the select box is closed:*/
.hidden {
    display: none;
}



/**********************************************  PLACEHOLDER  **************************************************/

/* add placeholders to contenteditable divs */ 
div[placeholder]:empty:before {
    content: attr(placeholder);
    color: #FFFFFF; 
    opacity:0.75;
}

/* add placeholders to contenteditable spans */ 
span[placeholder]:empty:before {
    content: attr(placeholder);
    color: #FFFFFF; 
    opacity:0.75;

}


.peng[placeholder]:empty:before {
    font-style: italic;
    content: attr(placeholder);
    color: #FFFFFF; 
    opacity:0.75;

}
  
