
.scale-controls {
    display: flex;
    flex-direction: row;
    border-right: 1px solid #FFFFFF80;
    border-left: 1px solid #FFFFFF80;
    padding: 0px 4px;
    gap:8px;
    margin-right: 4px;
}

/* .scale-controls * {
    letter-spacing: 0px;
} */

.scale-controls-xy {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 12px ;
    gap:0px;
}

.scale-controls-px, .scale-controls-u {
    display: flex;
    flex-direction: column;
    gap:2px;
    align-items:end;
    justify-content: center;
    /* font-size: 14px ; */

}

.scale-controls-px *, .scale-controls-u * {
    font-size: 10px ;
    color:#C0C0C0;
}



.scale-controls-clickable {
    position: relative;
    cursor: pointer;
    display: flex;
    text-shadow: 1px 1px #00000080, -1px 1px #00000080, -1px -1px #00000080, 1px -1px #00000080;

    /* font-weight: bolder; */
}

.scale-controls-clickable:hover {
    filter: brightness(1.25);
    /* font-weight: bolder; */
} 

.scale-controls-clickable span {
    color: #FFFFFF !important;
    background-color: #2C9F70;
    padding: 0px 4px;
}

/* .scale-controls-clickable span:after {
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    position: absolute;
    width:100%;
    height: 100%;
    content: '';
    z-index: 1;
}
*/

.scale-controls-clickable:hover span {
    outline: 1px solid white;
    outline-offset: -1px;
} 

.unit-selection-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 4px;
    font-size: 12px;
    gap:4px;

}

.unit-selection-container span {
    color: #C0C0C0;
}


/* .layer-controls {
    display: flex;
    padding:4px;
    gap:8px;
}

.layer-controls-row {
    display: flex;

    gap:8px;
} */



.scale-controls-input {
    width: 56px;
}

.scale-controls-select {
    background-color: #FFFFFF10;
    color: white;
    border: unset;
    outline: 1px solid #FFFFFF80;
    outline-offset: -1px;
    padding: 0px 4px;
}

.scale-controls-select option {
    background-color: #000000;
    color: white;
}
